<div class="col s12 m12 l7">
  <%= form_for(@shop) do |f| %>
    <% @shop.errors.full_messages.each do |msg| %>
      <li class="red-text"><%= msg %></li>
    <% end %>
    <%# ショップ名 %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :name, placeholder: "店名", autofocus: true %>
        <%= f.label :name %>
      </div>
    </div>
    <%# 紹介文 %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_area :text, placeholder: "紹介文",class: "materialize-textarea"%>
        <%= f.label :text %>
      </div>
    </div>
    <%# 都道府県 %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, include_blank: '都道府県を選択してください' %>
        <%= f.label :prefecture_code %>
      </div>
    </div>
    <%# エリア %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.select :area, ['キタ(梅田)エリア', 'ミナミ(なんば)エリア', '天王寺・阿倍野・新世界エリア','その他'], {include_blank: 'エリアを選択してください'}%>
        <%= f.label :area %>
      </div>
    </div>
    <%# 住所 %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :address, placeholder: "住所" %>
        <%= f.label :address %>
      </div>
    </div>
    <%# 画像 %>
    <div class="row">
      <div class="file-field col s12">
        <div class="btn">
          <span>Upload file</span>
          <%= f.file_field :image,id:"user_img" %>
        </div>
          <%= image_tag @shop.image, id: "img_prev" %>
        <input class="file-path validate" type="text">
      </div>
    </div> 
    <%# 投稿ボタン %>
    <%= f.submit "投稿", class: 'btn col s3'%>
  <% end %>
</div>

<script type="text/javascript">
  $(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
    $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
    $("#user_img").change(function(){
        readURL(this);
    });
  });
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>
<style type="text/css">
#img_prev{
  max-width: 400px;
  max-height: 400px;
  object-fit: contain;
</style>