<div class="col s12 m12 l7">
  <%= form_for(@shop) do |f| %>
    <% @shop.errors.full_messages.each do |msg| %>
      <li class="red-text"><%= msg %></li>
    <% end %>
    <%# ショップ名 %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :name, placeholder: "店名", autofocus: true %>
        <%= f.label :name %>
      </div>
    </div>
    <%# 紹介文 %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_area :text, placeholder: "紹介文",class: "materialize-textarea"%>
        <%= f.label :text %>
      </div>
    </div>
    <%# 都道府県 %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, include_blank: '都道府県を選択してください' %>
        <%= f.label :prefecture_code %>
      </div>
    </div>
    <%# 住所 %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :address, placeholder: "住所" %>
        <%= f.label :address %>
      </div>
    </div>
    <%# 画像 %>
    <div class="row">
      <div class="file-field col s12">
        <div class="btn">
          <span>Upload file</span>
          <%= f.file_field :image,id:"user_img" %>
        </div>
          <%= image_tag @shop.image, id: "img_prev" %>
        <input class="file-path validate" type="text">
      </div>
    </div> 
    <div class="row">
        <div class="with-gap col s12">
          <label>
            <i class="material-icons small">wifi</i>
            <%= f.radio_button :wifi, :yes, class: "with-gap"%>
            <span>有</span>
          </label>
          <label>
            <%= f.radio_button :wifi, :no, class: "with-gap"%>
            <span>無</span>
          </label>
          <label>
            <i class="material-icons small">power</i>
            <%= f.radio_button :power, :able, class: "with-gap"%>
            <span>できる</span>
          </label>
          <label>
            <%= f.radio_button :power, :unable, class: "with-gap"%>
            <span>できない</span>
          </label>
      </div>
    </div>
    <%# 投稿ボタン %>
    <%= f.submit "投稿", class: 'btn col s3'%>
  <% end %>
</div>

<style type="text/css">
#img_prev{
  max-width: 400px;
  max-height: 400px;
  object-fit: contain;
</style>