<%= form_for(@shop) do |f| %>
  <%# 画像 %>
  <div class="file-field col s12 l3">
    <%= image_tag @shop.image, id: "img_prev" %>
    <input class="file-path validate" type="text">
    <div class="btn #ffd600 yellow accent-4">
      <span>画像ファイルを選択する</span>
      <%= f.file_field :image,id:"user_img" %>
    </div>
  </div>
  <div class="col s12 m12 l7 right">
    <% @shop.errors.full_messages.each do |msg| %>
      <li class="red-text"><%= msg %></li>
    <% end %>
    <%# ショップ名 %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :name, placeholder: "店名", autofocus: true %>
        <%= f.label :name %>
      </div>
    </div>
    <%# 紹介文 %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_area :text, placeholder: "紹介文",class: "materialize-textarea"%>
        <%= f.label :text %>
      </div>
    </div>
    <%# 都道府県 %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, include_blank: '都道府県を選択してください' %>
        <%= f.label :prefecture_code %>
      </div>
    </div>
    <%# 住所 %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :address, placeholder: "住所" %>
        <%= f.label :address %>
      </div>
    </div>
    <%# ラジオボタン %>
    <div class="row">
      <div class="with-gap col s12">
        <label>
          <i class="material-icons small">wifi</i>
          <%= f.radio_button :wifi, :yes, class: "with-gap"%>
          <span>有</span>
        </label>
        <label>
          <%= f.radio_button :wifi, :no, class: "with-gap"%>
          <span>無</span>
        </label>
        <label>
          <i class="material-icons small">power</i>
          <%= f.radio_button :power, :able, class: "with-gap"%>
          <span>できる</span>
        </label>
        <label>
          <%= f.radio_button :power, :unable, class: "with-gap"%>
          <span>できない</span>
        </label>
      </div>
    </div>
    <%# 投稿ボタン %>
    <%= f.submit "投稿", class: 'btn col s3 #ffd600 yellow accent-4 right'%>
  </div>
<% end %>
<%= render "shared/gmap-new" %>

<style type="text/css">
#img_prev{
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
</style>