<div class="col s12 m12 l7">
  <%= form_for(@shop) do |f| %>
    <% @shop.errors.full_messages.each do |msg| %>
      <li class="red-text"><%= msg %></li>
    <% end %>
    <%# ショップ名 %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :name, placeholder: "店名", autofocus: true %>
        <%= f.label :name %>
      </div>
    </div>
    <%# 紹介文 %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_area :text, placeholder: "紹介文",class: "materialize-textarea"%>
        <%= f.label :text %>
      </div>
    </div>
    <%# 都道府県 %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, include_blank: '都道府県を選択してください' %>
        <%= f.label :prefecture_code %>
      </div>
    </div>
    <%# エリア %>
    <div class="row tokyo">
      <div class="input-field col s12">
        <%= f.select :area, ['東京都心(銀材・秋葉原・丸の内)エリア', '東京北部(池袋・上野・巣鴨・日暮里・赤羽)エリア', '東京東部(浅草・スカイツリー・豊洲)エリア','東京西部(新宿・渋谷・原宿・表参道・下北沢・代官山・中野・吉祥寺・代々木・高円寺)エリア', '東京南部(お台場・品川・中目黒・六本木・麻布十番・自由が丘)エリア', '東京その他'], {include_blank: 'エリアを選択してください'}%>
        <%= f.label :area %>
      </div>
    </div>
    <div class="row osaka">
      <div class="input-field col s12">
        <%= f.select :area, ['キタ(梅田)エリア', 'ミナミ(なんば)エリア', '天王寺・阿倍野・新世界エリア','大阪その他'], {include_blank: 'エリアを選択してください'}%>
        <%= f.label :area %>
      </div>
    </div>
    <div class="row nagoya">
      <div class="input-field col s12">
        <%= f.select :area, ['栄', '大須', '伏見', '鶴舞', '上前津', '覚王山', '本山', '星ヶ丘', '千草', '名古屋その他'], {include_blank: 'エリアを選択してください'}%>
        <%= f.label :area %>
      </div>
    </div>
    <%# 住所 %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :address, placeholder: "住所" %>
        <%= f.label :address %>
      </div>
    </div>
    <%# 画像 %>
    <div class="row">
      <div class="file-field col s12">
        <div class="btn">
          <span>Upload file</span>
          <%= f.file_field :image,id:"user_img" %>
        </div>
          <%= image_tag @shop.image, id: "img_prev" %>
        <input class="file-path validate" type="text">
      </div>
    </div> 
    <%# 投稿ボタン %>
    <%= f.submit "投稿", class: 'btn col s3'%>
  <% end %>
</div>

<style type="text/css">
#img_prev{
  max-width: 400px;
  max-height: 400px;
  object-fit: contain;
</style>