<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper #ffd600 yellow accent-4">
      <a href="/" class="brand-logo left">The BookCafe DB</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li><%= link_to '投稿する', new_shop_path, method: :get %></li>
          <li>
            <%= link_to user_path(current_user),class:"right valign-wrapper" do %>
              <div class="left">
                <%= current_user.username %>
              </div>
              <%= image_tag current_user.image,class: "image-icon" %>
            <% end %>
          </li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to '投稿する', new_shop_path, method: :get %></li>
          <li><%= link_to "ログイン", new_user_session_path%></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <% if user_signed_in? %>
    <li><%= link_to '投稿する', new_shop_path, method: :get %></li>
    <li>
      <%= link_to user_path(current_user),class:"valign-wrapper" do %>
        <div class="left">
          <%= current_user.username %>
        </div>
          <%= image_tag current_user.image, class: "image-icon" %>
      <% end %>
    </li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to '投稿する', new_shop_path, method: :get %></li>
    <li><%= link_to "ログイン", new_user_session_path%></li>
  <% end %>
</ul>
  
<script>
 $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>