<div class="row">
  <div class="col s12">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row">
        <div class="col s3">
          <%= image_tag @user.image.thumb, class: "circle responsive-img" %>
          <div class="flow-text"><%= @user.username%></div>
          <% if user_signed_in? %>
            <% if @user.id == current_user.id %>
              <span class="black-text">
                <% unless @user.email == "test@example.com"%>
                  <%= link_to "プロフィールを編集する", edit_user_registration_path(@user), method: :get %>
                <% end %>
              </span>
            <% end %>
          <% end %>
        </div>
        <ul class="right col s6 ">
          <li class="plist">
            <%= render "follow_form" %>
          </li>
          <li class="plist">
            <span><i class="material-icons tiny">local_cafe</i>投稿数</span>
            <span><%= @user.shops.count %></span>
          </li>
          <li class="plist">
            <span><i class="material-icons tiny">favorite</i>いいねした数</span>
            <span><%= @user.like_shops.count%></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>