<nav class="search-box #fffde7 yellow lighten-5">
  <div class="nav-wrapper row">
    <div class="col s12">
        <%= search_form_for @search do |f| %>
          <div class="col s12 m12 l2">
            <%= f.label :name_or_user_username_cont, "店名またはユーザー名で検索"%>
            <%= f.search_field :name_or_user_username_cont, placeholder: "店名またはユーザー名で探す "  %>
          </div>
          <div class="col m5 l3">
            <%= f.label :prefecture_code_eq_any, "都道府県を選択" %>
            <%= f.collection_select :prefecture_code_eq_any, JpPrefecture::Prefecture.all, :code, :name, include_blank: '都道府県を選択してください' %>
          </div>
          <div class="col m4 l2">
            <%= f.label :sorts, "並び順"%>
            <%= f.select( :sorts, {'並び替え': 'updated_at desc', 'いいねの多い順': 'likes_count desc','日付の新しい順': 'updated_at desc', '日付の古い順': 'updated_at asc' })%>
          </div>
          <div class="col m4 l3 radiob">
            <label>
              <span class="list">Wifi</span>
              <i class="material-icons small lists">wifi</i>
              <%= f.radio_button :wifi_eq, 1, class: "with-gap"%>
              <span>有</span>
            </label>
          </div>
          <div class="col m4 l3 radiob">
            <label>
              <span class="list">充電</span>
              <i class="material-icons small lists">power</i>
              <%= f.radio_button :power_eq, 1, class: "with-gap"%>
              <span>できる</span>
            </label>
          </div>
          <%= f.submit "検索", class: 'btn #ffd600 yellow accent-4 search-btn'%>
        <% end %>
    </div>
  </div>
</nav>