<div class="col s12 m6 l6">
  <div class="card">
    <div class="card-image">
      <%= image_tag @shop.image %>
      <div class="flow-text" id="likes_buttons_<%= @shop.id %>">
        <%= render partial: 'shared/like', locals: { shop: @shop, likes: @likes} %>
      </div>
      <span class="card-title"><%= @shop.name%></span>
    </div>
    <div class="card-content">
      <p class="flow-text"><%= @shop.text %></p>
      <% if user_signed_in? %>
        <% if @shop.user_id == current_user.id %>
          <a href="/shops/<%= @shop.id %>/edit" class="waves-effect waves-light btn"><i class="material-icons right">edit</i>編集</a>
          <a href="/shops/<%= @shop.id %>" data-method="delete" class="waves-effect waves-light btn"><i class="material-icons right">delete</i>削除</a>
        <% end %>
      <% end %>
      <%= link_to user_path(@shop.user_id), class:"right valign-wrapper" do %>
        <%= image_tag @shop.user.image,class:"right hoverable", style: "width: 50px;height: 50px;border-radius: 50%;object-fit: cover;margin-right: 5px;" %>
        <h6 class="hoverable"><%= @shop.user.username %></h6>
      <% end %>
    </div>
  </div>
</div>