<div class="col s12 m6 l6 content">
  <div class="card">
    <div class="card-image">
      <%= image_tag @shop.image %>
      <div class="flow-text" id="likes_buttons_<%= @shop.id %>">
        <%= render partial: 'shared/like', locals: { shop: @shop, likes: @likes} %>
      </div>
      <span class="card-title"><%= @shop.name%></span>
    </div>
    <div class="card-content show-content">
      <p class="show-text"><%= @shop.text %></p>
      <% if @shop.user == current_user %>
        <div class="show-icons right">
          <%= link_to edit_shop_path do %>
            <i class="material-icons underline #ffab00 amber-text text-accent-4">edit</i></a>
          <% end %>
          <%= link_to shop_path, data: { confirm: "本当に削除しますか?" }, method: :delete do %>
            <i class="material-icons underline #ffab00 amber-text text-accent-4">delete</i></a>
          <% end %>
        </div>
      <% end %>
      <br>
      <%= link_to user_path(@shop.user_id), class:"valign-wrapper" do %>
        <%= image_tag @shop.user.image,class:"right hoverable image-icon"%>
        <h6 class="hoverable"><%= @shop.user.username %></h6>
      <% end %>
    </div>
  </div>
</div>